<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>

    <form action="http://0.0.0.0:80/register_form" method="post">
        <input type="text" name="template_name"/><br>
        <input type="text" name="description"/><br>
        <h1>--------------------------------</h1>
        <input type="text" name="Field1"/><br>
        <input type="text" name="Field2"/><br>
        <input type="text" name="Field3"/><br>
        <input type="text" name="Field4"/><br>

        <input type="submit" value="submit"/>
    </form>
</body>
</html>